*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{

background:#081120;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

width:90%;

max-width:400px;

text-align:center;

}

.logo{

font-size:70px;

margin-bottom:15px;

}

h1{

font-size:40px;

color:#FFD700;

}

.subtitle{

margin:20px;

font-size:18px;

color:#ccc;

}

.btn{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#FFD700;

font-size:18px;

margin-top:15px;

font-weight:bold;

cursor:pointer;

}

.btn2{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#00C853;

font-size:18px;

margin-top:15px;

font-weight:bold;

cursor:pointer;

color:white;

}

.features{

margin-top:35px;

display:grid;

grid-template-columns:1fr;

gap:15px;

}

.card{

background:#16243A;

padding:20px;

border-radius:15px;

font-size:18px;

}
